.restaurant4-widget {
    color: black;
}

.restaurant4-widget-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.restaurant4-widget-list-item {
    font-size: 1rem;
    margin: 8px 0;
    text-align: left;
}